ion-header {
  background-color: #1d1d1b;
}

.color-text-white {
  color: white;
}

.title-red {
  color: #ad182d;
}

.title-tareas {
  color: #1d1d1b;
  font-weight: bold;
  margin: 0px;
}

.title-progress-bar {
  color: #808289;
}

.margin-completado {
  text-align: end;
  margin-top: -14px;
}

.align-end-text {
  text-align: end;
}
.align-center-text {
  text-align: center;
  align-items: center;
}

.return {
  color: #d0122d;
}

.avatar {
  border-radius: 50%;

}
