<ion-app>
  <ion-header color="dark" class="ion-border ion-padding">
    <ion-grid style="background-color: #1d1d1b;">
      <ion-row size="12">

        <!-- <ion-col size="4" class="ion-align-items-end">
          <ion-row size="12"  class="align-center-text">
           <ion-col size="12">
              <div >
               <img class="" style="width: 30%" src="./assets/RW_LogoWEB.png" alt="" />
              </div>
           </ion-col>
          </ion-row>
        </ion-col> -->
        <ion-col size="9" class="ion-align-items-end">
          <ion-row size="12"  class="align-center-text">

            <ion-col size="12">
              <div>
                <span *ngIf="this.ValUsuario === 1" class="color-text-white-n ">{{user.name}} {{user.lastName}}</span>
                <span *ngIf="this.ValUsuario === 70" class="color-text-white-ca ">CAJERO</span>
                <span *ngIf="this.ValUsuario === 71" class="color-text-white-cu ">CUBRE SUPERVISOR</span>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>

        <ion-col size="2" class="ion-align-items-end">
          <div class="align-end-text">
            <!-- <ion-icon style="color: white" name="notifications" class="ion-icon" (click)="openNotification()"></ion-icon> -->
            <ion-icon style="color: white" name="notifications" class="ion-icon">
            </ion-icon>
            <ion-badge *ngIf="dataNotification" style="color: #ffce00" class="ion-badge">{{
              dataNotification.length }}</ion-badge>
          </div>
        </ion-col>

        <ion-col size="1" class="align-center-text">
          <div class="align-end-text">
            <ion-icon (click)="logout($event)" size="large" color="light" name="menu-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
    <div class="justify">
      <ion-grid>
        <ion-row size="12">
          <ion-col size="1">
            <div>
              <!-- <p (click)="return()" class="ion-align-items-start return">
                < REGRESAR</p> -->
                <!-- <ion-button (click)="return()" shape="round" color="warning" expand="full" size="small">
                  REGRESAR
                </ion-button> -->
            </div>
          </ion-col>
          <ion-col size="11"></ion-col>
        </ion-row>
        <!-- iteracion de data  -->

        <ion-row size="12">
          <ion-col size="9" class="ion-align-items-start">
            <h2 class="title-red">TURNO MATUTINO</h2>
          </ion-col>
          
          <ion-col size="3" class="ion-align-items-end">
            <div class="align-end-text">
              <ion-button (click)="showTermina()" shape="round" color="danger" expand="full">
                FINALIZAR
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row size="12">
          <ion-col  size="9" class="ion-align-items-start">
            <h2 class="title-red2">{{user.branchName}}</h2>
          </ion-col>
          <ion-col size="3" class="ion-align-items-end">
            <div class="align-end-text">
              <ion-button (click)="showUsuario()" shape="round" color="warning" expand="full">
                USUARIO
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row size="12">
          
        <!-- ----------- M E N U  S E C C I O N A D O-------------->
          <ion-col size="12">
            <ion-segment mode="ios" scrollable [(ngModel)]="task">
              <ion-row size="12">
                <ion-col size="6">
                  <ion-segment-button value="1" (click)="getDataControl(1)">
                    <span class="btnMenu">TAREAS</span>
                  </ion-segment-button>
                </ion-col>
                <ion-col size="6">
                  <ion-segment-button value="2" (click)="getDataControl(2)">
                    <span class="btnMenu">OTROS</span>
                  </ion-segment-button>
                </ion-col>
                
              </ion-row>
            </ion-segment>
          </ion-col>

        <div [ngSwitch]="task">
          <ion-row size="12" *ngSwitchCase="'1'">
          <!--***** S E C C I O N   T A R E A S ******-->
            <!-- progress bar -->
                <ion-col size="12">
                  <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                  &nbsp;
                  <ion-progress-bar mode="ios" color="{{color}}" [value]="barProgressTask / 100"></ion-progress-bar>
                  &nbsp;
                  <div class="margin-completado">
                    <span class="title-progress-bar">{{barProgressTask | number: '.1-2'}}% COMPLETADO</span>
                    <!-- .1 * 100 -->
                  </div>
                </ion-col>
          <!-- -----------asistencias ---------------->
          <ion-col *ngIf="data[0]" size="6">
            <!-- <ion-card (click)="validacionAsistencia()"> -->
              <ion-card>
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[0].isComplete === false" src="./assets/icon/ilustracion_asistencias.png" alt="" />
                    <img *ngIf="data[0].isComplete === true" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">
                            ASISTENCIAS
                          </h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            
                          </span>
                        </div>
                        
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar color="danger" [value]="data[0].percentage"></ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span class="title-progress-bar">
                            {{ data[0].percentage }}% COMPLETADO
                          </span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-------------- gas ------------------------>
          <ion-col size="6" *ngIf="data[1]">
            <ion-card (click)="validacionGas(data[1].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[1].isComplete === false" src="./assets/icon/ilustracion_gas.png" alt="" />
                    <img *ngIf="data[1].isComplete === true" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">GAS</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar *ngIf="data[1].isComplete === false" color="danger" value="0"></ion-progress-bar>
                        <ion-progress-bar *ngIf="data[1].isComplete === true" color="success" value="1"></ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[1].isComplete === false" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="data[1].isComplete === true" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-------------- VOLADO DE EFECTIVO ------------>
          <!-- *ngIf="data[3]" -->
          <ion-col size="6" *ngIf="data[5]">
            <!-- aqui se envia el id de sucursal -->
            <!-- data[8].id -->
            <ion-card (click)="voladoEfectivo(0)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="this.cant === true" src="./assets/icon/ilustracion_volado_de_efectivo.png" alt="" />
                    <img *ngIf="this.cant === false" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div class="valueVolado">
                          <!-- <h3 class="title-tareas">VOLADO: {{ valueVolado.message | currency}}</h3> -->
                          <h3 class="title-tareas">VOLADO EFECTIVO</h3>
                        </div>
                      </ion-col>
                      <!-- 100%
                      *ngIf="data[3].isComplete === true"-->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <!-- [color]="data[3].color"
                          [value]="data[3].percentage" -->
                        <ion-progress-bar *ngIf="this.cant === true" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="this.cant === false" color="success" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="this.cant === true" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="this.cant === false" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- ------------salon montado------------ -->
          <ion-col size="6" *ngIf="data[2]">
            <ion-card (click)="salonMontado(this.user.branchId)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[2].isComplete === false" src="./assets/icon/ilustracion_encuesta.png" alt="" />
                    <img *ngIf="data[2].isComplete === true" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">APERTURA</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                        
                          </span>
                        </div>
                        
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>

                        <ion-progress-bar *ngIf="data[2].isComplete === true" color="success" value="1">
                        </ion-progress-bar>

                        <ion-progress-bar *ngIf="data[2].isComplete !== true" color="danger" [value]="(1/6) * data[2].percentage">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[2].isComplete === true" class="title-progress-bar">100%
                            COMPLETADO</span>
                          <span *ngIf="data[2].isComplete !== true" class="title-progress-bar">{{(100/6) * data[2].percentage | number: '.1-2'}}%
                            COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- ------------Baños Matutino------------ -->
          <ion-col size="6" *ngIf="data[6]">
            <ion-card (click)="banosMatutino(data[6].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[6].isComplete === false" src="./assets/icon/ilustracion_ba_os.png" alt="" />
                    <img *ngIf="data[6].isComplete === true" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">BAÑOS</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                           
                          </span>
                        </div>
                        
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>

                        <ion-progress-bar *ngIf="data[6].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[6].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[6].isComplete === false" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="data[6].isComplete === true" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- -----------STOCK DE POLLO------------ -->
          <!-- aqui se envia el id de sucursal -->
          <!-- <ion-col size="6" *ngIf="data[4]">

            <ion-card (click)="stockPollo(user.branch)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_stock_de_pollo.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">STOCK DE POLLO</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            Agrega cada paquete de pollo que llegue a la
                            sucursal y documenta cuánto se ha usado de cada uno.
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar [color]="data[4].color" value=".{{ data[4].percentage }}"></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span class="title-progress-bar">{{ data[4].percentage | number: '.1-2'}}% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col> -->


          <!-- -----------MESAS EN ESPERA------------ -->
          <ion-col size="6" *ngIf="data[3]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="mesas(data[3].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[3].isComplete === false" src="./assets/icon/ilustracion_mesas_en_espera.png" alt="" />
                    <img *ngIf="data[3].isComplete === true" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">EN ESPERA</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>

                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar *ngIf="data[3].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[3].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[3].isComplete === false" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="data[3].isComplete === true" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          

         </ion-row>


         <ion-row size="12" *ngSwitchCase="'2'">
          <!--***** S E C C I O N   O T R O S ******-->
          
          <!-------------- remisiones ------------------------>
          <!-- *ngIf="data[1]" -->
          <ion-col size="6">
            <ion-card (click)="remisiones(0)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_remisiones.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas"> CALENDARIO </h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            Revisa tu semáforo y revisiones pendientes
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">Nivel de progreso</span>
                        &nbsp;

                        <ion-progress-bar color="danger" value="0"></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span class="title-progress-bar"> 0% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

                    <!-- -----------TRANSFERENCIAS------------ -->
          <ion-col size="6" *ngIf="data[2]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="transferencias(user.branchId)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_transferencias.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">TRANSFERENCIAS</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            PIDE O PROPORCIONA PRODUCTO HACIA OTRAS SUCURSALES
                          </span>
                        </div>

                      </ion-col>
                      <!-- 100%
                      *ngIf="data[3].isComplete === true"-->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar *ngIf="data[2].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[2].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[2].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[2].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                      <!-- <ion-col size="12" *ngIf="data[3].isComplete === false">
                        <span class="title-progress-bar"
                          >Nivel de progreso</span
                        >
                        &nbsp;
                        <ion-progress-bar
                          [color]="data[3].color"
                          [value]="data[3].percentage"
                        ></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span class="title-progress-bar">0% completado</span>
                        </div>
                      </ion-col> -->
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- ------------producto en riesgo------------ -->
          <!-- *ngIf="data[2]" -->
          <ion-col size="6">
            <!-- aqui se manda el id de sucursal ya que tiene una lista de registros  -->
            <ion-card>
              <!-- <ion-card (click)="productoRiesgo(user.branchId)"> -->
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_producto_en_riesgo.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">PRODUCTO EN RIESGO</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            PROXIMAMENTE.
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar *ngIf="data[1].isComplete === true" color="success" value="100">
                        </ion-progress-bar>

                        <ion-progress-bar *ngIf="data[1].isComplete !== true" color="danger" value="0">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[1].isComplete === true" class="title-progress-bar">100%
                            completado</span>
                          <span *ngIf="data[1].isComplete !== true" class="title-progress-bar">0%
                            completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>


         </ion-row>
         </div>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>
