<ion-app *ngIf="data.lengt !== 0">
  <ion-header color="dark" class="ion-border ion-padding">
    <ion-grid>
      <ion-row size="12">

        <ion-col size="4" class="ion-align-items-end">
          <ion-row size="12"  class="align-center-text">
           <ion-col size="4">
              <div>
               <img style="border-radius: 5%" src="./assets/RW_LogoWEB.png" alt="" />
              </div>
           </ion-col>
           <ion-col size="8">
             <div>
               <span class="ion-align-items-start color-text-white-c">SUPERVISOR</span>
             </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="4"></ion-col>

        <ion-col size="2" class="ion-align-items-end">
          <ion-row size="12"  class="align-center-text">
            <ion-col size="4">
              <!-- <ion-avatar slot="start"> -->
                <img class="avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="">
              <!-- </ion-avatar> -->
            </ion-col>
            <ion-col size="8">
              <div>
                <span class="color-text-white ">{{user.name}} {{user.lastName}}</span>
              </div>
            </ion-col>

          </ion-row>
        </ion-col>

        <ion-col size="1"></ion-col>

        <ion-col size="1" class="align-center-text">
          <div class="align-end-text">
            <ion-icon (click)="logout($event)" size="large" color="light" name="menu-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
    <div class="justify">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <p (click)="return()" class="ion-align-items-start return">
                < REGRESAR</p>
            </div>
          </ion-col>
        </ion-row>
        <!-- iteracion de data  -->

        <ion-row size="12">
          <ion-col size="6" class="ion-align-items-start">
            <h2 class="title-red">TURNO MATUTINO 7:00 HORAS A 17:00 HRS</h2>
          </ion-col>
          <ion-col size="3"></ion-col>
          <ion-col size="3" class="ion-align-items-end">
            <div class="align-end-text">
              <ion-button (click)="terminarTurno()" shape="round" color="danger" expand="full">
                TERMINAR TURNO
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="12" class="ion-align-items-start">
            <h2 class="title-red2">{{user.branchName}}</h2>
          </ion-col>
        </ion-row>
        <ion-row size="12">
          <!-- -----------asistencias ---------------->
          <ion-col *ngIf="data[0]" size="6">
            <!-- <ion-card (click)="validacionAsistencia()"> -->
              <ion-card>
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_asistencias.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">
                            VALIDACIÓN DE ASISTENCIAS
                          </h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            PROXIMAMENTE.
                          </span>
                        </div>
                        <br>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar [color]="data[0].color" [value]="data[0].percentage"></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span class="title-progress-bar">
                            {{ data[0].percentage }}% completado
                          </span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-------------- gas ------------------------>
          <ion-col size="6" *ngIf="data[1]">
            <ion-card (click)="validacionGas(data[1].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_gas.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">GAS</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            REALIZA UN CHECK DE LA CANTIDAD DE GAS QUE CUENTAS PARA EL TURNO
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <br>
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>

                        <ion-progress-bar *ngIf="data[1].isComplete === false" [color]="data[1].color" value="0"></ion-progress-bar>
                        <ion-progress-bar *ngIf="data[1].isComplete === true" color="{{ data[1].color }}" value="1"></ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[1].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[1].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!-- ------------salon montado------------ -->
          <ion-col size="6" *ngIf="data[2]">
            <ion-card (click)="salonMontado(data[2].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_salon_montado.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">SALÓN</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            REVISA QUE EL SALON ESTE EN ORDEN Y MONTADO PARA INICIAR EL TURNO
                          </span>
                        </div>
                        <br>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;

                        <ion-progress-bar *ngIf="data[2].isComplete === false" [color]="data[2].color" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[2].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[2].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[2].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>


          <!-- -----------STOCK DE POLLO------------ -->
          <!-- aqui se envia el id de sucursal -->
          <!-- <ion-col size="6" *ngIf="data[4]">

            <ion-card (click)="stockPollo(user.branch)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_stock_de_pollo.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">STOCK DE POLLO</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            Agrega cada paquete de pollo que llegue a la
                            sucursal y documenta cuánto se ha usado de cada uno.
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar [color]="data[4].color" value=".{{ data[4].percentage }}"></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span class="title-progress-bar">{{ data[4].percentage | number: '.1-2'}}% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col> -->


          <!-- -----------MESAS EN ESPERA------------ -->
          <ion-col size="6" *ngIf="data[3]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="mesas(data[3].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_mesas_en_espera.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">MESAS EN ESPERA</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            REGISTRA CUANTAS PERSONAS TENEMOS EN ESPERA DE 13:00 A 17:00 HORAS
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <br>
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>

                        <ion-progress-bar *ngIf="data[3].isComplete === false" color="{{ data[3].color }}" value="0.1">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[3].isComplete === true" color="{{ data[3].color }}" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[3].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[3].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>
