<ion-grid>
  <ion-row size="12">
    <ion-col class="close" size="12">
      <div>
        <ion-icon
          (click)="modalController.dismiss()"
          slot="icon-only"
          name="close-outline"
          color="danger"
        ></ion-icon>
      </div>
    </ion-col>
    <ion-col size="12" class="ion-align-self-center">
      <div>
        <h4 class="subtitle-negro">{{ header }}</h4>
      </div>
    </ion-col>
    <ion-col size="12">
      <span [innerHTML]="body"></span>
    </ion-col>
  </ion-row>
  <ion-row size="12">
    <ion-col size="5">
      <ion-button
        (click)="modalController.dismiss()"
        shape="round"
        color="danger"
        expand="full"
      >
        ACEPTAR
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
