<ion-app>
  <ion-header
    *ngIf="dataNotification.length !== 0"
    class="ion-no-border ion-padding"
  >
    <ion-row size="12">
      <ion-col size="12">
        <div class="close align-text-end">
          <ion-icon
            (click)="modalController.dismiss()"
            slot="icon-only"
            name="close-outline"
            color="danger"
          ></ion-icon>
        </div>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center">
        <ion-icon color="danger" size="large" name="notifications-outline">
        </ion-icon>
      </ion-col>
      <ion-col size="11" class="ion-align-self-center">
        <div>
          <h4 class="subtitle-negro">
            <b> NOTIFICACIONES </b>
          </h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content
    *ngIf="dataNotification.length !== 0"
    fullscreen="false"
    class="ion-padding"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- List of Text Items -->
          <ion-list *ngFor="let item of dataNotification">
            <ion-item>
              <img
                style="width: 2rem; margin-right: 1rem"
                *ngIf="item.type === 'Solicitado'"
                src="./assets/icon/icon_recibido.png"
                alt=""
              />
              <img
                style="width: 2rem; margin-right: 1rem"
                *ngIf="item.type === 'Transferido'"
                src="./assets/icon/icon_transferido.png"
                alt=""
              />
              <span> - {{ item.name }}</span>
              <span> - Sucursal {{ item.branch }}</span>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <!--------------------------------------------------->
  <!---------------------skeleton---------------------->
  <ion-header
    *ngIf="dataNotification.length === 0"
    class="ion-no-border ion-padding"
  >
    <ion-row size="12">
      <ion-col size="12">
        <div class="close align-text-end">
          <ion-icon
            (click)="modalController.dismiss()"
            slot="icon-only"
            name="close-outline"
            color="danger"
          ></ion-icon>
        </div>
      </ion-col>
      <ion-col size="1" class="ion-align-self-center">
        <img src="./assets/icon/skeleton-circle.png" alt="" />
      </ion-col>
      <ion-col size="11" class="ion-align-self-center">
        <div>
          <h4 class="subtitle-negro">
            <ion-skeleton-text animated width="80%"></ion-skeleton-text>
          </h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content
    *ngIf="dataNotification.length === 0"
    fullscreen="false"
    class="ion-padding"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- List of Text Items -->
          <ion-list *ngFor="let item of [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]">
            <ion-item>
              <ion-row>
                <ion-col size="1" class="ion-align-self-center">
                  <div>
                    <img src="./assets/icon/skeleton-circle.png" alt="" />
                  </div>
                </ion-col>
                <ion-col size="2">
                  <span
                    ><ion-skeleton-text animated width="30%"></ion-skeleton-text
                  ></span>
                </ion-col>
                <ion-col size="9">
                  <span>
                    <ion-skeleton-text animated width="100%"></ion-skeleton-text
                  ></span>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
