<ion-app>
  <ion-header color="dark" class="ion-border ion-padding">
    <ion-grid>
      <ion-row size="12">

        <!-- <ion-col size="4" class="ion-align-items-end">
          <ion-row size="12" class="align-center-text">
            <ion-col size="4">
              <div>
                <img style="border-radius: 5%" src="./assets/RW_LogoWEB.png" alt="" />
              </div>
            </ion-col>
            <ion-col size="8">
              <div>
                <span class="ion-align-items-start color-text-white-c"></span>
              </div>
            </ion-col>
          </ion-row>
        </ion-col> -->

        <ion-col size="9" class="ion-align-items-end">
          <ion-row size="12" class="align-center-text">
            <ion-col size="12">
              <div>
                <span *ngIf="this.ValUsuario === 1" class="color-text-white-n ">{{user.name}} {{user.lastName}}</span>
                <span *ngIf="this.ValUsuario === 2" class="color-text-white-ca ">CAJERO</span>
                <span *ngIf="this.ValUsuario === 3" class="color-text-white-cu ">CUBRE SUPERVISOR</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="2" class="ion-align-items-end">
          <div class="align-end-text">
            <!-- <ion-icon style="color: white" name="notifications" class="ion-icon" (click)="openNotification()"></ion-icon> -->
            <ion-icon style="color: white" name="notifications" class="ion-icon" >
            </ion-icon>
            <ion-badge *ngIf="dataNotification" style="color: #ffce00" class="ion-badge">{{
              dataNotification.length }}</ion-badge>
          </div>
        </ion-col>

        <ion-col size="1" class="align-center-text">
          <div class="align-end-text">
            <ion-icon (click)="logout($event)" size="large" style="color: white" name="menu-outline">
            </ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <!-- contenedor con data -->
  <ion-content *ngIf="data.length !== 0" fullscreen="false" class="ion-padding">
    <div class="justify">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <!-- <p (click)="return()" class="ion-align-items-start return">
                < REGRESAR </p> -->
            </div>
          </ion-col>
        </ion-row>
        <!-- iteracion de data  -->

        <ion-row size="12">
          <ion-col size="9" class="ion-align-items-start">
            <h2 class="title-red">TURNO VESPERTINO</h2>
          </ion-col>
          
          <ion-col size="3" class="ion-align-items-end">
            <div class="align-end-text">
              <ion-button (click)="showTermina()" shape="round" color="danger" expand="full">
                FINALIZAR
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row size="12">
          <ion-col  size="9" class="ion-align-items-start">
            <h2 class="title-red2">{{user.branchName}}</h2>
          </ion-col>
          <ion-col size="3" class="ion-align-items-end">
            <div class="align-end-text">
              <ion-button (click)="showUsuario()" shape="round" color="warning" expand="full">
                USUARIO
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row size="12">

          <!-- ----------- M E N U  S E C C I O N A D O-------------->
          <ion-col size="12">
            <ion-segment mode="ios" scrollable [(ngModel)]="task">
              <ion-row size="12">
                <ion-col size="6">
                  <ion-segment-button value="1" (click)="getDataControl(1)">
                    <span class="btnMenu">TAREAS</span>
                  </ion-segment-button>
                </ion-col>
                <ion-col size="6">
                  <!-- <ion-segment-button value="2" (click)="getDataControl(2)">
                    <span class="btnMenu">OTROS</span>
                  </ion-segment-button> -->
                </ion-col>
                
              </ion-row>
            </ion-segment>
          </ion-col>

      <div [ngSwitch]="task">
        <ion-row size="12" *ngSwitchCase="'1'">
           <!--***** S E C C I O N   T A R E A S ******-->
           <!-- progress bar -->
           <ion-col size="12">
                    <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                    &nbsp;
                    <ion-progress-bar mode="ios" color="{{color}}" [value]="barProgressTask / 100"></ion-progress-bar>
                    &nbsp;
              <div class="margin-completado">
                      <span class="title-progress-bar">{{barProgressTask | number: '.1-2'}}% COMPLETADO</span>
                      <!-- .1 * 100 -->
              </div>
           </ion-col>

          <!-- -----------asistencias ---------------->
          <ion-col size="6" *ngIf="data[0]">
            <ion-card>
              <!-- <ion-card (click)="validacionAsistencia()"> -->
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[0].isComplete === false" src="./assets/icon/ilustracion_asistencias.png" alt="" />
                    <img *ngIf="data[0].isComplete === true" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">
                            ASISTENCIAS
                          </h3>
                        </div>
                      </ion-col>
                      
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar color="danger"  [value]="data[0].percentage"></ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span class="title-progress-bar">
                            {{ data[0].percentage }}% COMPLETADO
                          </span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          
          <!-- -----------ALBARANES------------ -->
          <!-- <ion-col size="6" *ngIf="data[10]">
            <ion-card (click)="albaranes(user.branchId)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_albaranes.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">ALBARANES</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            REVISA DESDE AQUI LAS ENTREGAS DE HOY. REPORTA SI HAY ALGUN PROBLEMA.
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar *ngIf="data[10].isComplete === false" color="{{ data[10].color }}" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[10].isComplete === true" color="{{ data[10].color }}" value="1">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[10].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[10].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col> -->

          <!--------------RESGUARDO DE PROPINA------------>
          <!-- *ngIf="data[3]" -->
          <ion-col size="6" *ngIf="data[3]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="resguardoPropina(data[3].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[3].isComplete === false" src="./assets/icon/ilustracion_resguardo_de_propina.png" alt="" />
                    <img *ngIf="data[3].isComplete === true" src="./assets/icon/ilustracion_check.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">PROPINA</h3>
                        </div>
                      </ion-col>
                      <!-- <ion-col size="12">
                        <div>
                          <span>
                            REPORTA CON UNA FOTO TU RESGUARDO DE PROPINAS AL FINALIZAR EL TURNO
                          </span>
                        </div>
                        <br>
                      </ion-col> -->
                      <!-- 100%
                      *ngIf="data[3].isComplete === true"-->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <!-- [color]="data[3].color"
                          [value]="data[3].percentage" -->
                        <ion-progress-bar *ngIf="data[3].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[3].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[3].isComplete === false" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="data[3].isComplete === true" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>


          <!--------------LIMPIEZA DE SALÓN Y BAÑOS------------>
          <!-- *ngIf="data[3]" -->
          <ion-col size="6" *ngIf="data[4]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="limpiezaSalonBanos(data[4].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[4].isComplete === false" src="./assets/icon/ilustracion_limpieza.png" alt="" />
                    <img *ngIf="data[4].isComplete === true" src="./assets/icon/ilustracion_check.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">
                            LIMPIEZA
                          </h3>
                        </div>
                      </ion-col>
                      <!-- <ion-col size="12">
                        <div>
                          <span>
                            REVISA QUE EL SALON Y LOS BAÑOS ESTEN LIMPIOS Y EN ORDEN
                          </span>
                        </div>
                        <br>
                      </ion-col> -->
                      <!-- 100%
                      *ngIf="data[3].isComplete === true"-->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar *ngIf="data[4].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[4].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[4].isComplete === false" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="data[4].isComplete === true" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <!--------------RESGUARDO DE TABLETA------------>
          <!-- *ngIf="data[3]" -->
          <!-- aqui se envia el id de sucursal -->
          <!-- <ion-col size="6" *ngIf="data[6]">
            <ion-card (click)="resguardoTableta(data[6].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_resguardo_de_tableta.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">RESGUARDO DE TABLETA</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            Asegúrate que la tableta esté en su lugar.
                            Documéntalo con una foto y un comentario.
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">Nivel de progreso</span>
                        &nbsp;
                        <ion-progress-bar *ngIf="data[6].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[6].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[6].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[6].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col> -->

          <!--------------ALARMA------------>
          <!-- *ngIf="data[3]" -->
          <!-- aqui se envia el id de sucursal -->
          <!-- <ion-col size="6" *ngIf="data[7]">
            <ion-card (click)="alarma(data[7].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_alarma.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">ALARMA</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            Asegúrate de que la alarma esté armada. Documéntalo
                            desde tu celular con una foto y comentario.
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">Nivel de progreso</span>
                        &nbsp;
                        <ion-progress-bar *ngIf="data[7].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[7].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[7].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[7].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col> -->



          <!-- -----------MESAS EN ESPERA------------ -->
          <!-- *ngIf="data[3]" -->
          <ion-col size="6" *ngIf="data[1]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="mesas(data[1].id)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="data[1].isComplete === false" src="./assets/icon/ilustracion_mesas_en_espera.png" alt="" />
                    <img *ngIf="data[1].isComplete === true" src="./assets/icon/ilustracion_check.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">EN ESPERA</h3>
                        </div>
                      </ion-col>
                      <!-- <ion-col size="12">
                        <div>
                          <span>
                            REGISTRA CUANTAS PERONAS TENEMOS EN ESPERA DE 18:00 A 00:00 HORAS
                          </span>
                        </div>
                        <br>
                      </ion-col> -->

                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar *ngIf="data[1].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[1].isComplete === true" color="success"value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[1].isComplete === false" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="data[1].isComplete === true" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- -----------STOCK DE POLLO------------ -->
          <ion-col size="6" *ngIf="data[2]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="stockPollo(user.branchId)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="this.Inventario.length !== 0" src="./assets/icon/ilustracion_stock_de_pollo.png" alt="" />
                    <img *ngIf="this.Inventario.length === 0" src="./assets/icon/ilustracion_check.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">INVENTARIOS</h3>
                        </div>
                      </ion-col>
                      <!-- <ion-col size="12">
                        <div>
                          <span>
                            REALIZA TUS INVENTARIOS DIARIOS AL FINALIZAR TU TURNO
                          </span>
                        </div>
                        <br>
                      </ion-col> -->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar *ngIf="this.Inventario.length !== 0" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="this.Inventario.length === 0" color="success"value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="this.Inventario.length !== 0" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="this.Inventario.length === 0" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!------RESGUARDO DE TABLETA Y ALARMA-------->
          <ion-col size="6" *ngIf="tabletAlarmaActive === true">
            <ion-card (click)="tabletAndAlarma(data[5].id, null)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center"> 
                    <img *ngIf="data[5].isComplete === false" src="./assets/icon/ilustracion_resguardo_de_tableta.png" alt="" />
                    <img *ngIf="data[5].isComplete === true" src="./assets/icon/ilustracion_check.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">TABLETAS</h3>
                        </div>
                      </ion-col>
                      <!-- <ion-col size="12">
                        <div>
                          <span>
                            RESGUARDA TODAS LAS TABLETAS Y ASEGURATE DE PONER LA ALARMA AL SALIR DE LA SUCURSAL
                          </span>
                        </div>
                        <br>
                      </ion-col> -->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <ion-progress-bar *ngIf="data[5].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[5].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="data[5].isComplete === false" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="data[5].isComplete === true" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>


          <!-------------- VOLADO DE EFECTIVO ------------>
          <!-- *ngIf="data[3]" -->
          <ion-col size="6" *ngIf="data[7]">
            <!-- aqui se envia el id de sucursal -->
            <!-- data[8].id -->
            <ion-card (click)="voladoEfectivo(0)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img *ngIf="this.cant === true" src="./assets/icon/ilustracion_volado_de_efectivo.png" alt="" />
                    <img *ngIf="this.cant === false" src="./assets/icon/ilustracion_check.png" alt=""/>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div class="valueVolado">
                          <!-- <h3 class="title-tareas">VOLADO: {{ valueVolado.message | currency}}</h3> -->
                          <h3 class="title-tareas">VOLADO EFECTIVO</h3>
                        </div>
                      </ion-col>
                      <!-- 100%
                      *ngIf="data[3].isComplete === true"-->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        <br>
                        <!-- [color]="data[3].color"
                          [value]="data[3].percentage" -->
                        <ion-progress-bar *ngIf="this.cant === true" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="this.cant === false" color="success" value="1">
                        </ion-progress-bar>
                        <br>
                        <div class="margin-completado">
                          <span *ngIf="this.cant === true" class="title-progress-bar">0% COMPLETADO</span>
                          <span *ngIf="this.cant === false" class="title-progress-bar">100% COMPLETADO</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>


        </ion-row>
      

        <ion-row size="12" *ngSwitchCase="'2'">
          <!--***** S E C C I O N   O T R O S ******-->
          
          <!-------------- remisiones ------------------------>
          <!-- *ngIf="data[1]" -->
          <ion-col size="6">
            <ion-card (click)="remisiones(0)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_remisiones.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas"> CALENDARIO </h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            Revisa tu semáforo y revisiones pendientes
                          </span>
                        </div>
                        <br>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">Nivel de progreso</span>
                        &nbsp;

                        <ion-progress-bar color="danger" value="0"></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span class="title-progress-bar"> 0% completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

                    <!-- -----------TRANSFERENCIAS------------ -->
          <ion-col size="6" *ngIf="data[2]">
            <!-- aqui se envia el id de sucursal -->
            <ion-card (click)="transferencias(user.branchId)">
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_transferencias.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">TRANSFERENCIAS</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            PIDE O PROPORCIONA PRODUCTO HACIA OTRAS SUCURSALES
                          </span>
                        </div>
                        <br>
                      </ion-col>
                      <!-- 100%
                      *ngIf="data[3].isComplete === true"-->
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar *ngIf="data[2].isComplete === false" color="danger" value="0">
                        </ion-progress-bar>
                        <ion-progress-bar *ngIf="data[2].isComplete === true" color="success" value="1">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[2].isComplete === false" class="title-progress-bar">0% completado</span>
                          <span *ngIf="data[2].isComplete === true" class="title-progress-bar">100% completado</span>
                        </div>
                      </ion-col>
                      <!-- <ion-col size="12" *ngIf="data[3].isComplete === false">
                        <span class="title-progress-bar"
                          >Nivel de progreso</span
                        >
                        &nbsp;
                        <ion-progress-bar
                          [color]="data[3].color"
                          [value]="data[3].percentage"
                        ></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span class="title-progress-bar">0% completado</span>
                        </div>
                      </ion-col> -->
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <!-- ------------producto en riesgo------------ -->
          <!-- *ngIf="data[2]" -->
          <ion-col size="6">
            <!-- aqui se manda el id de sucursal ya que tiene una lista de registros  -->
            <ion-card>
              <!-- <ion-card (click)="productoRiesgo(user.branchId)"> -->
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <img src="./assets/icon/ilustracion_producto_en_riesgo.png" alt="" />
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">PRODUCTO EN RIESGO</h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            PROXIMAMENTE
                          </span>
                        </div>
                        <br>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">NIVEL DE PROGRESO</span>
                        &nbsp;
                        <ion-progress-bar *ngIf="data[1].isComplete === true" color="success" value="100">
                        </ion-progress-bar>

                        <ion-progress-bar *ngIf="data[1].isComplete !== true" color="danger" value="0">
                        </ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <span *ngIf="data[1].isComplete === true" class="title-progress-bar">100%
                            completado</span>
                          <span *ngIf="data[1].isComplete !== true" class="title-progress-bar">0%
                            completado</span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>


         </ion-row>
        </div>
      </ion-row>

      </ion-grid>
    </div>
  </ion-content>
  <!-- content con data skeleton -->
  <ion-content *ngIf="data.length === 0" fullscreen="false">
    <div class="justify">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <p class="ion-align-items-start return">
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </p>
            </div>
          </ion-col>
        </ion-row>
        <!-- iteracion de data  -->

        <ion-row size="12">
          <ion-col size="6" class="ion-align-items-start">
            <h2 class="title-red">
              <ion-skeleton-text animated width="60%"></ion-skeleton-text>
            </h2>
          </ion-col>
          <ion-col size="3"></ion-col>
          <ion-col size="3" class="ion-align-items-end">
            <div class="align-end-text">
              <ion-button shape="round" color="danger" expand="full">
                <ion-skeleton-text animated width="20%"></ion-skeleton-text>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
        <ion-row size="12">
          <!-- -----------asistencias ---------------->
          <!-- *ngIf="data[0]" -->
          <ion-col size="6" *ngFor="let item of [1,1,1,1,1,1,1,1]" class="ion-padding  animated flash slow ">
            <ion-card>
              <ion-card-content>
                <ion-row size="12">
                  <ion-col size="3" class="ion-align-self-center">
                    <ion-skeleton-text animated width="10%"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size="9">
                    <ion-row size="12">
                      <ion-col size="12">
                        <div>
                          <h3 class="title-tareas">
                            <ion-skeleton-text animated width="70%"></ion-skeleton-text>
                          </h3>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <div>
                          <span>
                            <ion-skeleton-text animated width="100%"></ion-skeleton-text>
                          </span>
                        </div>
                      </ion-col>
                      <ion-col size="12">
                        <span class="title-progress-bar">
                          <ion-skeleton-text animated width="90%"></ion-skeleton-text>
                        </span>
                        &nbsp;
                        <!-- [color]="data[0].color"
                        [value]="data[0].percentage -->
                        <ion-progress-bar color="danger" value="0"></ion-progress-bar>
                        &nbsp;
                        <div class="margin-completado">
                          <!-- {{ data[0].percentage }} -->
                          <span class="title-progress-bar">
                            <ion-skeleton-text animated width="20%"></ion-skeleton-text>
                          </span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>
