ion-header {
  background-color: #1d1d1b;
}
.color-text-white {
  color: white;
}
.color-text-white-c {
  color: white;
  font-size: 200%;
}
.title-red {
  color: #ad182d;
  font-size: 250%;
}
.title-red2 {
  color: #ad182d;
  font-size: 200%;
}
.title-tareas {
  color: #1d1d1b;
  font-weight: bold;
  margin: 0px;
}
.title-progress-bar {
  color: #808289;
}
.margin-completado {
  text-align: end;
  margin-top: -14px;
}

.align-end-text {
  text-align: end;
}
.align-center-text {
  text-align: center;
  align-items: center;
}
.return {
  color: #d0122d;
}

// estilos para skeleton text
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

.avatar {
  border-radius: 50%;

}

ion-icon {
  font-size: 64px;
}

ion-badge{
  position: absolute; 
  font-size: 18pt;
  right: -15px;
  top: 30px; 
}