ion-content {
  --ion-background-color: #fafafa;
}

ion-header {
  background-color: #fafafa;
}

ion-footer {
  background-color: #fafafa;
}

.title {
  color: #ad182d;
  font-weight: bold;
  font-size: 300%;
  margin-left: 5px;
}
.subtitle-negro {
  color: black;
  font-weight: bold;
  font-size: 200%;
}
.description{
  color: #ad182d;
  font-size: 120%;
  font-weight: bold;
}
.date-grey {
  font-weight: 500;
  color: grey;
  font-size: 130%;
}

.return {
  color: #d0122d;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}

.center {
  text-align: center;
}

.sizePhoto {
  width: 5rem;
  height: 5rem;
}


// estilos para skeleton text
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}
// estilos para toggle
ion-toggle {
  // color de fondo
  --background: #F3F3F3;
  --background-checked: #26a844;
  // color de circulito
  --handle-background: #ad182d;
  --handle-background-checked: white;
  zoom: 1.5;
}

ion-toggle[aria-checked="false"] {

  // position: relative;
  &::before {
    position: absolute;
    content: "";
  }

  &::after {
    position: absolute;
    content: "NO";
    color: #ad182d;
    font-size: 10px;
    // line-height: 32px;
    left: 33px;
    top: 12px;
  }
}

ion-toggle[aria-checked="true"] {

  // position: relative;
  &::before {
    position: absolute;
    content: "";
  }

  &::after {
    position: absolute;
    content: "SI";
    font-size: 10px;
    // line-height: 36px;
    left: 17px;
    top: 12px;
    color: #fff;
  }
}