<ion-app>
  <!-- ************ data ************ -->
  <ion-header *ngIf="activeData === true" class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR </p> </div> </ion-col> </ion-row> <ion-row size="12">
                <ion-col size="1">
                  <img src="./assets/icon/ilustracion_limpieza_salon.png" alt="encuesta" />
                </ion-col>
                <ion-col size="11" class="ion-align-self-center">
                  <h3 class="title">LIMPIEZA GENERAL</h3>
                </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" *ngIf="activeData === true" class="ion-padding">
    <ion-grid>
      <!-- titulo de empresa -->
      <ion-row size="12">
        <ion-col size="4">
          <h5 class="subtitle-negro">SUCURSAL MASARIK</h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            {{ today | date: "dd MMM yyy" }}
          </span>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label floating>Número de mesa</ion-label>
          <ion-card class="closed">
            <ion-input [(ngModel)]="data.tableN" type="text" (focus)="activeNumTable = false" required
              placeholder="Numero de mesa"></ion-input>
          </ion-card>
          <ion-label style="color: #ad182d; font-size: 12px" *ngIf="activeNumTable">Campo requerido</ion-label>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <!-- --------------Limpieza en salon---------------------- -->
      <ion-row size="12">
        <ion-col size="12">
          <span>Limpieza en Salón</span>
        </ion-col>
        <ion-col size="6"><span>¿Se encuentra limpio?</span>
          <br>
          <ion-toggle [(ngModel)]="data.cleanlinessInSalon" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(1)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- ---------fotos limpieza de salon--------------------- -->
      <ion-row size="12">
        <ion-col size="6"></ion-col>

        <ion-col size="6">
          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoGeneralCleanings; index as position">
              <!-- imagene en storage -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 1" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- imagenes en bd -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 1" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)"> </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- -------------limpieza en cubetas------------------- -->
      <ion-row>
        <ion-col size="12">Limpieza en cubetas</ion-col>
        <ion-col size="6"><span>¿Se encuentra limpio?</span>
          <br>
          <ion-toggle [(ngModel)]="data.cleaningInBuckets" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(2)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- -------------fotos limpieza cubetas------ ----------- -->
      <ion-row size="12">
        <ion-col size="6"></ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoGeneralCleanings; index as position">
              <!-- imagene en storage -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 2" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- imagenes en bd -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 2" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)"> </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- -------------limpieza en booths------------------- -->
      <ion-row>
        <ion-col size="12">Limpieza booths</ion-col>
        <ion-col size="6"><span>¿Se encuentra limpio?</span>
          <br>
          <ion-toggle [(ngModel)]="data.cleaningBooths" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(3)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- -------------fotos limpieza booths------ ----------- -->
      <ion-row size="12">
        <ion-col size="6"></ion-col>

        <ion-col size="6">
          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoGeneralCleanings; index as position">
              <!-- imagene en storage -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 3" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- imagenes en bd -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 3" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)"> </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <br><br><br>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === true" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button (click)="validateSave()" shape="round" color="danger" expand="full">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
  <!-- *************************skeletor***********************  -->
  <ion-header *ngIf="activeData === false" class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <p class="ion-align-items-start return">
              <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            </p>
          </div>
        </ion-col>
        <ion-col size="11"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <ion-skeleton-text animated width="10%"></ion-skeleton-text>
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content *ngIf="activeData === false" fullscreen="false" class="ion-padding">
    <ion-grid>
      <!-- titulo de empresa -->
      <ion-row size="12">
        <ion-col size="4">
          <h5 class="subtitle-negro">
            <ion-skeleton-text animated width="40%"></ion-skeleton-text>
          </h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            <ion-skeleton-text animated width="80%"></ion-skeleton-text>
          </span>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label floating>
            <ion-skeleton-text animated width="60%"></ion-skeleton-text>
          </ion-label>
          <ion-card class="closed">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-card>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-label>
          <ion-card style="height: 9rem" class="center">
            <div style="margin-top: 2rem">
              <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-label>
          <ion-card>
            <br />
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <br />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === false" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button shape="round" color="danger" expand="full">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
