<ion-app>
  <ion-header class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <img src="./assets/icon/ilustracion_alarma.png" alt="Alarma" />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">ALARMA/TABLETAS</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
   <ion-grid>   
      <!-- titulo de empresa -->
      <ion-row size="12" *ngIf="user">
        <ion-col size="4">
          <h5 class="subtitle-negro">{{user.branchName}}</h5>
        </ion-col>
        <ion-col size="7"></ion-col>
        <ion-col size="1">
          <span class="date-grey">
            {{ today | date: "dd/MM/yyy" }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row size="12">
        <ion-col size="12">
          <h5 class="description">RESGUARDA TODAS LAS TABLETAS Y ASEGURATE DE PONER LA ALARMA AL SALIR DE LA SUCURSAL</h5>
          &nbsp;
        </ion-col>
      </ion-row>
    </ion-grid>
   
  
    <!-- GRID DE TABLET -->
   <ion-grid>
      <ion-row size="12">
        <ion-col size="12">
          <span>RESGUARDO DE TABLETA</span>
          <br>
          <ion-toggle [(ngModel)]="toggTable"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="toggTable === true">
      <ion-row size="12">
        <ion-col size="6">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGalleryTablet()">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="dataTablet.comment" rows="6" cols="20" style="margin-top: 2px;"></ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="3" *ngFor="let photo of dataTablet.photoTabletSageKeepings; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 " src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheetTablet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 " src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowActionTablet(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <!-- footer boton -->
      <ion-row size="12" class="">
        <ion-col size="3" offset="8">
          <ion-button [disabled]="(dataTablet.comment === undefined || dataTablet.comment === '') || disabled === true"
            (click)="saveTablet()" shape="round" color="danger" expand="full">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- GRID DE ALARMA -->
    <ion-grid>
      <ion-row size="12">
        <ion-col size="12">
          <span>RESGUARDO DE ALARMA</span>
          <br>
          <ion-toggle [(ngModel)]="toggAlarma"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="toggAlarma === true">
      <ion-row size="12">
        <ion-col size="6">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGalleryAlarma()">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="dataAlarma.comment" rows="6" cols="20" style="margin-top: 2px;"></ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="3" *ngFor="let photo of dataAlarma.photoAlarms; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 " src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheetAlarma(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 " src="{{ url }}{{ photo.photo }}" (click)="deleteImgShowActionAlarma(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <ion-row size="12" class="">
        <ion-col size="3" offset="8">
          <ion-button [disabled]="(dataAlarma.comment === undefined || dataAlarma.comment === '') || disabled === true"
            (click)="saveAlarma()" shape="round" color="danger" expand="full">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-content>
</ion-app>
