<ion-app>
  <ion-header class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row size="12">
        <ion-col size="3">
          <div>
            <!-- <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR</p> -->
              <ion-button (click)="return()" shape="round" color="warning" expand="full" size="small">
                REGRESAR
              </ion-button>
          </div>
        </ion-col>
        <ion-col size="9"></ion-col>
      </ion-row>
      <br>
      <ion-row size="12">
        <ion-col size="1">
          <img src="./assets/icon/ilustracion_gas.png" alt="Validaccion de assistencia" />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">GAS</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
    <ion-grid [scrollTop]>
      <!-- titulo de empresa -->
      <ion-row size="12" *ngIf="user" >
        <ion-col size="9">
          <h5 class="subtitle-negro">{{user.branchName}}</h5>
        </ion-col>
        <ion-col size="3">
          <span class="date-grey">
            {{ today | date: "dd/MM/yyy" }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row size="12">
        <ion-col size="12">
          <h5 class="description">REALIZA UN CHECK DE LA CANTIDAD DE GAS CON LA QUE CUENTAS PARA INICIAR EL TURNO</h5>
          &nbsp;
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label floating>SELECCIONA TU TIPO DE GAS</ion-label>
          <BR>
            <BR>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-radio-group ng-reflect-model="1" [(ngModel)]="radioValue" (ionChange)="showValue()">
          <ion-row >
            <ion-col >
               <ion-item   style="margin-left: 0.5rem; width: 15rem; font-size: 20PX; height: 45px;">
                   <ion-label >ESTACIONARIO </ion-label>
                   <ion-radio aria-checked="true" mode="md" value="1" ></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col >
                <ion-item style="margin-left: 0.5rem; width: 15rem; font-size: 20PX; height: 45px;">
                    <ion-label >NATURAL </ion-label>
                    <ion-radio mode="md"  value="2" ></ion-radio>
               </ion-item>
            </ion-col>
        </ion-row>
        </ion-radio-group>
      </ion-row>
<BR>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label floating>PORCENTAJE GAS</ion-label>
          <ion-card class="closed">
            <ion-input [(ngModel)]="data.amount" type="number" min="0" placeholder="%" [disabled]="this.radioValue === '2'"></ion-input>
          </ion-card>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery()" [disabled]="this.radioValue === '2'">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea type="string" [(ngModel)]="data.comment" rows="6" cols="20" style="margin-top: 2px;" [disabled]="this.radioValue === '2'"></ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->

          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoValidationGas; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 " src="{{ base64 }},{{ photo.photo }}" (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 " src="{{ url }}{{ photo.photo }}" (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button  (click)="validaInfra()" shape="round" color="danger" expand="full" *ngIf="this.visibleGuardar === true">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
