<ion-app>
  <!-- ************ data ************ -->
  <ion-header *ngIf="activeData === true" class="ion-no-border ion-padding">

    <ion-grid>

      <ion-row size="12">
        <ion-col size="3">
          <div>
            <!-- <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR</p> -->
              <ion-button *ngIf="this.visibleGuardar === true" (click)="return()" shape="round" color="warning" expand="full" size="small">
                REGRESAR
              </ion-button>
          </div>
        </ion-col>
        <ion-col size="5"></ion-col>
        <ion-col size="4">
          <span class="date-grey">
            {{ today | date: "dd/MM/yyy" }}
          </span>
        </ion-col>
      </ion-row>
      <br>
      
      <ion-row size="12">
        <ion-col size="2.5">
          <img src="./assets/icon/ilustracion_salon.png" alt="encuesta" />
        </ion-col>
        <ion-col size="9.5" class="ion-align-self-center">
          <h3 class="title">SALON</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row size="12" *ngIf="user" >
        <ion-col size="12">
          <h5 class="subtitle-negro">{{nameBranch}}</h5>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-header>
  <ion-content fullscreen="false" *ngIf="activeData === true" class="ion-padding">

    <ion-grid>

      <ion-row size="12">
        <ion-col size="12">
          <h5 class="description">CHECK DE MANTENIMIENTO DEL AREA DE SALON</h5>
        </ion-col>
      </ion-row>

      <!------------Puertas de acceso-------------------->
      <ion-row size="12">
        <ion-col size="12">
          <span class="titleProduct">PUERTAS DE ACCESO</span>
          <br>
          <span>¿CIERRA CORRECTAMENTE?</span>
          <br>
          <ion-toggle [(ngModel)]="data.accessDoors"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Puertas de acceso----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(1)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentAccessDoors" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 1" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 1" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>

      <!------------Chapas-------------->
      <ion-row size="12">
        <ion-col size="12">
          <span class="titleProduct">CHAPAS</span>
          <br>
          <span>¿FUNCIONAN CORRECTAMENTE?</span>
          <br>
          <ion-toggle [(ngModel)]="data.badges"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Chapas----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(2)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentBadges" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 2" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 2" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>

      <!-------------Luminarias--------------------->
      <ion-row size="12">
        <ion-col size="12">
          <span class="titleProduct">LUMINARIAS</span>
          <br>
          <span>¿FOCOS, LEDS Y LETREROS LUMINOSOS FUNCIONAN CORRECTAMENTE?</span>
          <br>
          <ion-toggle [(ngModel)]="data.luminaires"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Luminarias----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(3)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentLuminaires" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 3" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 3" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>

      <!-------------Contactos y apagadores------------>
      <ion-row size="12">
        <ion-col size="12">
          <span class="titleProduct">CONTACTOS Y APAGADORES</span>
          <br>
          <span>¿COMPLETOS Y FUNCIONANDO?</span>
          <br>
          <ion-toggle [(ngModel)]="data.switches"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Contactos y apagadores----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(4)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentSwitches" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 4" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 4" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>

      <!---------------Mobiliario------------------->
      <ion-row size="12">
        <ion-col size="12">
          <span class="titleProduct">MOBILIARIO</span>
          <br>
          <span>¿LAS MESAS ESTAN FIJAS A SU BASE Y NIVELADAS?</span>
          <br>
          <ion-toggle [(ngModel)]="data.furnitureOne"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Mobiliario one----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(5)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentFurnitureOne" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 5" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 5" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>


      <!-------------Mobiliario--------------------->
      <ion-row size="12">
        <ion-col size="12">
          <span class="titleProduct">MOBILIARIO</span>
          <br>
          <span>¿SILLAS EN BUEN ESTADO? ¿TIENEN SUS GOMAS COMPLETAS?</span>
          <br>
          <ion-toggle [(ngModel)]="data.furnitureTwo"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Mobiliario----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(6)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentFurnitureTwo" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 6" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 6" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>


      <!----------------Boths------------------------->
      <ion-row size="12">
        <ion-col size="12">
          <span class="titleProduct">BOOTHS</span>
          <br>
          <span>¿EN BUEN ESTADO?</span>
          <br>
          <ion-toggle [(ngModel)]="data.boths"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Boths----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(7)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentBoths" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 7" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 7" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>

      <!----------------Extintores---------------------->
      <ion-row>
        <ion-col size="12">
          <span class="titleProduct">EXTINTORES</span>
          <br>
          <span>¿TIENEN LA PRESION CORRECTA?</span>
          <br>
          <ion-toggle [(ngModel)]="data.fireExtinguishers"></ion-toggle>
        </ion-col>
      </ion-row>
      <!-------------fotos de Extintores----------------->
      <ion-row size="12">


        <ion-col size="6" *ngIf="this.data.photoSalons.length === 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
         
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6" *ngIf="this.data.photoSalons.length !== 3">
          <ion-label>FOTOGRAFIA</ion-label>
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(8)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>COMENTARIO</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentFireExtinguishers" rows="6" cols="20" style="margin-top: 2px;">
            </ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="6" *ngFor="let photo of data.photoSalons; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 8" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 8" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>


      <br><br><br>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === true" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="6"></ion-col>
        <ion-col size="3" >
            <ion-button (click)="levantamientoTicket()" shape="round" color="warning" expand="full">
                TICKET
            </ion-button>
        </ion-col>
        <ion-col size="3" >
          <ion-button (click)="save()" shape="round" color="danger" expand="full" *ngIf="this.visibleGuardar === true">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
  <!-- *************************skeletor***********************  -->
  <ion-header *ngIf="activeData === false" class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <p class="ion-align-items-start return">
              <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            </p>
          </div>
        </ion-col>
        <ion-col size="11"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <img src="./assets/icon/skeleton-circle.png" alt="Validaccion de assistencia" />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content *ngIf="activeData === false" fullscreen="false" class="ion-padding">
    <ion-grid>
      <ion-row size="12">
        <!-- ------------------------------------ -->
        <!-- tarja -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!-- mezcladora -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!-- coladora -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!------------------------------------------->
        <!-- Freidoras -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!-- Extracción -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!-- Refrigeradores -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!-- Temperatura interior -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!-- Puertas -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
        <!-- Distancia correcta hacia la pared -->
        <ion-col size="4">
          <span class="titleProduct">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <span>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
          <br>
          <ion-toggle disabled></ion-toggle>
        </ion-col>
      </ion-row>
      <br><br><br>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === false" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button shape="round" color="danger" expand="full">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
