<ion-app>
  <ion-header *ngIf="activeData === true" class="ion-no-border ion-padding">
    
    <ion-grid>

      <ion-row size="12">
        <ion-col size="3">
          <div>
            <!-- <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR</p> -->
              <ion-button *ngIf="this.visibleGuardar === true" (click)="return()" shape="round" color="warning" expand="full" size="small">
                REGRESAR
              </ion-button>
          </div>
        </ion-col>
        <ion-col size="9"></ion-col>
      </ion-row>
      <br>
      
      <ion-row size="12">
        <ion-col size="1">
          <img src="./assets/icon/ilustracion_ba_os.png"  alt="" />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">BAÑOS</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid>
      <ion-row size="12" *ngIf="user" >
        <ion-col size="9">
          <h5 class="subtitle-negro">{{nameBranch}}</h5>
        </ion-col>
        <ion-col size="3">
          <span class="date-grey">
            {{ today | date: "dd/MM/yyy" }}
          </span>
        </ion-col>
      </ion-row>

      <ion-row size="12">
        <ion-col size="12">
          <h5 class="description">REVISA QUE LOS BAÑOS ESTEN EN OPTIMAS CONDICIONES</h5>
          &nbsp;
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-header>
  <ion-content *ngIf="activeData === true" fullscreen="false" class="ion-padding">

    <!-----------------faslse chicken----------------->
    <ion-grid>
      <!--chicken in table-->
      <ion-row>
        <ion-col size="12">
          <span>BAÑOS DE MUJERES</span>
        </ion-col>
        <!----------------- tv -------------------------->
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">¿ALGUN BAÑO TIENE GOTERA?</span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle [(ngModel)]="data.doesAnyBathroomLeakWomen"></ion-toggle>
            </ion-col>
            <ion-col size="12" >
              <ion-label>COMENTARIO</ion-label>
              <ion-card>
                <ion-textarea [(ngModel)]="data.commentDoesAnyBathroomLeakWomen" rows="6" cols="20">
                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <!----------------- mujeres -------------------------->
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">¿HAY FALLA EN LAS CHAPAS?</span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle [(ngModel)]="data.isThereAnyFaultsWomen"></ion-toggle>
            </ion-col>
            <ion-col size="12" >
              <ion-label>COMENTARIO</ion-label>
              <ion-card>
                <ion-textarea [(ngModel)]="data.commentAreThereAnyFaultsWomen" rows="6" cols="20">
                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!----------------- hombres -------------------------->
      <ion-row>
        <ion-col size="12">
          <span>BAÑOS DE HOMBRES</span>
        </ion-col>
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">¿ALGUN BAÑO TIENE GOTERA?</span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle [(ngModel)]="data.doesAnyBathroomLeakMen"></ion-toggle>
            </ion-col>
            <ion-col size="12">
              <ion-label>COMENTARIO</ion-label>
              <ion-card>
                <ion-textarea [(ngModel)]="data.commentDoesAnyBathroomLeakMen" rows="6" cols="20">
                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <!----------------- hombre chapas -------------------------->
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">¿HAY FALLA EN LAS CHAPAS?</span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle [(ngModel)]="data.isThereAnyFaultsMen"></ion-toggle>
            </ion-col>
            <ion-col size="12" >
              <ion-label>COMENTARIO</ion-label>
              <ion-card>
                <ion-textarea [(ngModel)]="data.commentAreThereAnyFaultsMen" rows="6" cols="20">
                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <br><br>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === true" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="6"></ion-col>
        <ion-col size="3" >
            <ion-button (click)="levantamientoTicket()" shape="round" color="warning" expand="full">
                TICKET
            </ion-button>
        </ion-col>
        <ion-col size="3" >
          <ion-button (click)="save()" shape="round" color="danger" expand="full" *ngIf="this.visibleGuardar === true">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>

  <!-- ******************* skeletor *************************** -->
  <ion-header *ngIf="activeData === false" class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <p class="ion-align-items-start return">
              <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            </p>
          </div>
        </ion-col>
        <ion-col size="11"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <img src="./assets/icon/skeleton-circle.png" alt="Validaccion de assistencia" />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content *ngIf="activeData === false" fullscreen="false" class="ion-padding">
    <!-- titulo de empresa -->
    <ion-grid>
      <ion-row size="12">
        <ion-col size="4">
          <h5 class="subtitle-negro">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-----------------faslse chicken----------------->
    <ion-grid>
      <!--chicken in table-->
      <ion-row>
        <!----------------- tv -------------------------->
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle disabled></ion-toggle>
            </ion-col>
            <ion-col size="12">
              <ion-label>
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </ion-label>
              <ion-card>
                <ion-textarea rows="6" cols="20">

                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <!----------------- bocina -------------------------->
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle disabled></ion-toggle>
            </ion-col>
            <ion-col size="12">
              <ion-label>
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </ion-label>
              <ion-card>
                <ion-textarea rows="6" cols="20">
                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <!----------------- tv terraza -------------------------->
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle disabled></ion-toggle>
            </ion-col>
            <ion-col size="12">
              <ion-label>
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </ion-label>
              <ion-card>
                <ion-textarea rows="6" cols="20">
                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
        <!----------------- bocina terraza -------------------------->
        <ion-col size="6">
          <ion-row size="12">
            <ion-col size="12">
              <span class="titleProduct">
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </span>
            </ion-col>
            <ion-col size="12">
              <ion-toggle disabled></ion-toggle>
            </ion-col>
            <ion-col size="12">
              <ion-label>
                <ion-skeleton-text animated width="10%"></ion-skeleton-text>
              </ion-label>
              <ion-card>
                <ion-textarea rows="6" cols="20">
                </ion-textarea>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <br><br>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === false" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button shape="round" color="danger" expand="full">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
