<ion-app>
  <ion-header class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <p  (click)="return()" class="ion-align-items-start return">< REGRESAR</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <img
            src="./assets/icon/ilustracion_alarma.png"
            alt="Alarma"
          />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">ALARMA</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
    <ion-grid>
      <!-- titulo de empresa -->
      <ion-row size="12">
        <ion-col size="4">
          <h5 class="subtitle-negro">SUCURSAL {{nameBranch}}</h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            {{ today | date: "dd MMM yyy" }}
          </span>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
            (click)="addPhotoToGallery()"
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>Comentario</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.comment" rows="6" cols="20"></ion-textarea>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="12">
      <ion-col size="6">
        <!-- fotos sin id -->
        <ion-row>
          <ion-col size="3" *ngFor="let photo of data.photoAlarms; index as position">
            <!-- se mostara esta imagen si no tiene id  -->
            <ion-img *ngIf="photo.id === 0 " src="{{ base64 }},{{ photo.photo }}" (click)="showActionSheet(photo, position)">
            </ion-img>
            <!-- se mostrara esta imagen si esta guardada -->
            <ion-img *ngIf="photo.id !== 0 " src="{{ url }}{{ photo.photo }}" (click)="deleteImgShowAction(photo.id)">
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
         <ion-button [disabled]="(data.comment === undefined || data.comment === '') || disabled === true" (click)="save()" shape="round" color="danger" expand="full">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
