<ion-app>
  <ion-header class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR</p> </div> </ion-col> </ion-row> <ion-row size="12">
                <ion-col size="1">
                  <img src="./assets/icon/ilustracion_pollo_precocido.png" alt="Validaccion de assistencia" />
                </ion-col>
                <ion-col size="11" class="ion-align-self-center">
                  <h3 class="title">POLLO CON PRECOCCIÓN</h3>
                </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
    <!-- titulo de empresa -->
    <ion-grid>
      <ion-row size="12">
        <ion-col size="4">
          <h5 class="subtitle-negro">SUCURSAL MASARIK</h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            {{ today | date: "dd MMM yyy" }}
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!----------------true chicken-------------------->
    <ion-grid *ngIf="toggleChicken === true">
      <!--chicken in table-->
      <ion-row size="12">
        <ion-col size="6">
          <span>¿Hay pollo precocido en tabla?</span>
          <br>
          <ion-toggle [(ngModel)]="toggleChicken" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6">
          <ion-label>Cantidad de pollo en tabla</ion-label>
          <ion-card class="closed">
            <ion-input [(ngModel)]="data.amountPrecookedChickenOnTheTable" type="number" min="0"
              placeholder="Kilogramos">
            </ion-input>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- chicken general -->
      <ion-row size="12">
        <ion-col size="6">
          <span>¿Hay pollo precocido en general?</span>
          <br>
          <ion-toggle [(ngModel)]="toggleChicken" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6">
          <ion-label>Cantidad de pollo en general</ion-label>
          <ion-card class="closed">
            <ion-input [(ngModel)]="data.amountPrecookedChickenInGeneral" type="number" min="0"
              placeholder="Kilogramos"></ion-input>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- boneless  -->
      <ion-row size="12">
        <ion-col size="6">
          <span>¿Hay Boneless o papas precocidas?</span>
          <br>
          <ion-toggle [(ngModel)]="toggleChicken" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6">
          <ion-label>Cantidad</ion-label>
          <ion-card class="closed">
            <ion-input [(ngModel)]="data.amountBonelesOrPrecookedPotatoes" type="number" min="0"
              placeholder="Kilogramos"></ion-input>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-----------------faslse chicken----------------->
    <ion-grid *ngIf="toggleChicken === false">
      <!--chicken in table-->
      <ion-row>
        <ion-col size="6">
          <span>¿Hay pollo precocido en tabla?</span>
          <br>
          <ion-toggle [(ngModel)]="toggleChicken" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <!-- se manda id type 1 para table -->
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(1)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>Comentario</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentPrecookedChickenOnTheTable" rows="6" cols="20">
            </ion-textarea>
          </ion-card>
        </ion-col>
        <!-- fotos  -->
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoPrecookedChickens; index as position">
              <!-- imagene en storage -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 1" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- imagenes en bd -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 1" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <!-- chicken general -->
      <ion-row>
        <ion-col size="6">
          <span>¿Hay pollo precocido en general?</span>
          <br>
          <ion-toggle [(ngModel)]="toggleChicken" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <!-- se manda id type 2 para general -->
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(2)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>Comentario</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentPrecookedChickenInGeneral" rows="6" cols="20">
            </ion-textarea>
          </ion-card>
        </ion-col>
        <!-- fotos  -->
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoPrecookedChickens; index as position">
              <!-- imagene en storage -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 2" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- imagenes en bd -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 2" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)"> </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <!-- boneless  -->
      <ion-row>
        <ion-col size="6">
          <span>¿Hay Boneless o papas precocidas?</span>
          <br>
          <ion-toggle [(ngModel)]="toggleChicken" color="success"></ion-toggle>
        </ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <!-- se manda id type 3 para boneless -->
          <ion-card style="height: 9rem" class="center" (click)="addPhotoToGallery(3)">
            <div style="margin-top: 2rem">
              <ion-icon class="sizePhoto" src="./assets/icon/icon_foto.svg"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>Comentario</ion-label>
          <ion-card>
            <ion-textarea [(ngModel)]="data.commentBonelesOrPrecookedPotatoes" rows="6" cols="20">
            </ion-textarea>
          </ion-card>
        </ion-col>
        <!-- fotos  -->
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoPrecookedChickens; index as position">
              <!-- imagene en storage -->
              <ion-img *ngIf="photo.id === 0 && photo.type === 3" src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- imagenes en bd -->
              <ion-img *ngIf="photo.id !== 0 && photo.type === 3" src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)"> </ion-img>

            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <br><br>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === true" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button (click)="save()" shape="round" color="danger" expand="full">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
