<ion-app>
  <ion-header class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR</p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <img src="./assets/icon/ilustracion_mesas_en_espera.png" alt="Validaccion de assistencia" />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">MESAS EN ESPERA</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
    <ion-grid>
      <!-- titulo de empresa -->
      <ion-row size="12" *ngIf="user" >
        <ion-col size="4">
          <h5 class="subtitle-negro">SUCURSAL {{user.branchName}}</h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            {{ today | date: "dd MMM yyy" }}
          </span>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="12" *ngIf="turno === '1'" >
          <span>Recuerda que esta tarea se deberá revisar de 10 a 5.</span>
        </ion-col>
        <ion-col size="12" *ngIf="turno === '2'" >
          <span>Recuerda que esta tarea se deberá revisar de 5 al cierre.</span>
        </ion-col>
        <!-- <ion-col size="6">
          <span>¿Hubo mesas en espera?</span>
          <br>
          <ion-toggle [(ngModel)]="data.waitlistTables"></ion-toggle>
        </ion-col> -->
        <!-- <ion-col size="6"></ion-col> -->
        <!--  *ngIf="data.waitlistTables === true" -->
        <!-- <ion-col size="6" >
          <ion-label>Número de personas en espera por mesa</ion-label>
          <ion-card class="closed">
            <ion-input [(ngModel)]="data.numberPeople" type="number" min="0" placeholder="Personas"></ion-input>
          </ion-card>
        </ion-col> -->
        <!-- *ngIf="data.waitlistTables === true" -->
        <ion-col size="6" >
          <ion-label>¿Cuántas mesas hubo en espera?</ion-label>
          <ion-card class="closed">
            <ion-input [(ngModel)]="data.howManyTables" type="number" min="0" placeholder="Numero de mesas en espera"></ion-input>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button
            [disabled]="(data.howManyTables === undefined || data.howManyTables === null)"
            (click)="save()" shape="round" color="danger" expand="full">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
