<ion-app>
  <ion-content fullscreen="false" class="ion-padding">
    <div class="justify">
      <ion-grid>
        <!-- logo -->
        <ion-row class="ion-align-items-center">
          <ion-col class="logo">
            <div>
              <img
                class="rebel-img"
                src="./assets/RW_LogoWEB.png"
                alt="Rebel wings"
              />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="logo">
              <ion-spinner color="light" name="crescent"></ion-spinner>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col class="ion-align-self-center" size="6">
            <div class="" *ngIf="user.roleId === 1">
              <h3 class="text-sucursal">
                <b>
                  {{user.branchName}}
                </b>
              </h3>
            </div>
            <div class="" *ngIf="user.roleId === 2">
              <h3 class="text-sucursal">
                <b>
                  REGIONAL
                </b>
              </h3>
            </div>
          </ion-col>
          <ion-col class="ion-align-self-center" size="6">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div>
                    <span>
                      <b>
                        BIENVENIDO
                      </b>
                    </span>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div>
                    <span class="nameProfile">{{user.name}} {{user.lastName}}</span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app>
