ion-content {
  --ion-background-color: #fafafa;
}
ion-header {
  background-color: #fafafa;
}
ion-footer {
  background-color: #fafafa;
}
.title {
  color: #ad182d;
  font-weight: bold;
  font-size: large;
  margin-left: 5px;
}
.subtitle-negro {
  color: black;
  font-weight: bold;
  font-size: large;
}
.date-grey {
  font-weight: 500;
  color: grey;
}
.return {
  color: #d0122d;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
}
