<ion-app>
  <ion-header class="ion-no-border ion-padding">
    <ion-row size="12">
      <ion-col size="12">
        <div class="close">
          <ion-icon
            (click)="modalController.dismiss()"
            slot="icon-only"
            name="close-outline"
            color="danger"
          ></ion-icon>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-align-self-center">
        <div>
          <h4 *ngIf="idPackage === 0" class="subtitle-negro">
            AGREGAR UN PAQUETE
          </h4>
          <h4 *ngIf="idPackage !== 0" class="subtitle-negro">
            <b> REGISTRAR USO DE PAQUETE </b>
          </h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-content fullscreen="false" class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngIf="idPackage === 0">
          <ion-label>Producto</ion-label>
          <ion-card class="ion-align-self-center">
            <span>Paquete de Pollo</span>
          </ion-card>
        </ion-col>
        <ion-col size="12" *ngIf="idPackage === 0">
          <ion-label>Codigo</ion-label>
          <ion-card class="closed">
            <ion-input
              [(ngModel)]="data.code"
              type="text"
              placeholder="Codigo"
            ></ion-input>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-label>Cantidad (Kgs)</ion-label>
          <ion-card class="closed">
            <ion-input
              [(ngModel)]="data.amount"
              type="number"
              min="0"
              placeholder="Kgs"
            ></ion-input>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button [disabled]="(data.amount === undefined || data.amount === '' ) || (data.code === undefined || data.code === '' )" (click)="save()" shape="round" color="danger" expand="full">
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </ion-content>
  <ion-footer no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button
            [disabled]="
              data.amount === undefined ||
              data.amount === '' ||
              disabled === true
            "
            (click)="save()"
            shape="round"
            color="danger"
            expand="full"
          >
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
