<ion-app>
  <!--****************** data  *********************-->
  <ion-header *ngIf="activeData === true" class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <p (click)="return()" class="ion-align-items-start return">
              < REGRESAR
            </p>
          </div>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <img
            src="./assets/icon/ilustracion_volado_de_efectivo.png"
            alt="Alarma"
          />
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">VOLADO DE EFECTIVO</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content
    *ngIf="activeData === true"
    fullscreen="false"
    class="ion-padding"
  >
    <ion-grid>
      <!-- titulo de empresa -->
      <ion-row size="12">
        <ion-col size="4">
          <h5 class="subtitle-negro">SUCURSAL {{nameBranch}}</h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            {{ today | date: "dd MMM yyy" }}
          </span>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label floating>Cantidad</ion-label>
          <ion-card class="closed">
            <ion-input
              [(ngModel)]="data.amount"
              type="number"
              min="0"
              (focus)="activeAmount = false"
              required
              placeholder="MXN"
            ></ion-input>
          </ion-card>
          <ion-label
            style="color: #ad182d; font-size: 12px"
            *ngIf="activeAmount"
            >Campo requerido</ion-label
          >
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label>Fotografía</ion-label>
          <ion-card
            style="height: 9rem"
            class="center"
            (click)="addPhotoToGallery()"
          >
            <div style="margin-top: 2rem">
              <ion-icon
                class="sizePhoto"
                src="./assets/icon/icon_foto.svg"
              ></ion-icon>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>Comentario</ion-label>
          <ion-card>
            <ion-textarea
              [(ngModel)]="data.comment"
              (focus)="activeComment = false"
              required
              rows="6"
              cols="20"
            ></ion-textarea>
          </ion-card>
          <ion-label style="color: #ad182d; font-size: 12px" *ngIf="activeComment"
            >Campo requerido</ion-label
          >
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <!-- fotos sin id -->
          <ion-row>
            <ion-col size="3" *ngFor="let photo of data.photoCashRegisterShortages; index as position">
              <!-- se mostara esta imagen si no tiene id  -->
              <ion-img *ngIf="photo.id === 0 " src="{{ base64 }},{{ photo.photo }}"
                (click)="showActionSheet(photo, position)">
              </ion-img>
              <!-- se mostrara esta imagen si esta guardada -->
              <ion-img *ngIf="photo.id !== 0 " src="{{ url }}{{ photo.photo }}"
                (click)="deleteImgShowAction(photo.id)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === true" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button
            (click)="validateSave()"
            shape="round"
            color="danger"
            expand="full"
          >
            GUARDAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
  <!--*************** skeletor *********************-->
  <ion-header *ngIf="activeData === false" class="ion-no-border ion-padding">
    <ion-grid>
      <ion-row size="12">
        <ion-col size="1">
          <div>
            <p class="ion-align-items-start return">
              <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            </p>
          </div>
        </ion-col>
        <ion-col size="11"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="1">
          <ion-skeleton-text animated width="100%"></ion-skeleton-text>
        </ion-col>
        <ion-col size="11" class="ion-align-self-center">
          <h3 class="title">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content
    *ngIf="activeData === false"
    fullscreen="false"
    class="ion-padding"
  >
    <ion-grid>
      <!-- titulo de empresa -->
      <ion-row size="12">
        <ion-col size="4">
          <h5 class="subtitle-negro">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </h5>
        </ion-col>
        <ion-col size="8">
          <span class="date-grey">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </span>
        </ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label floating>
            <ion-skeleton-text animated width="100%"></ion-skeleton-text>
          </ion-label>
          <ion-card class="closed">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-card>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
      <ion-row size="12">
        <ion-col size="6">
          <ion-label>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-label>
          <ion-card style="height: 9rem" class="center">
            <div style="margin-top: 2rem">
              <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-label>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-label>
          <ion-card>
            <br />
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
            <br />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-footer *ngIf="activeData === false" no-border>
    <ion-grid>
      <!-- footer boton -->
      <ion-row size="12" class="footer">
        <ion-col size="3" offset="8">
          <ion-button shape="round" color="danger" expand="full">
            <ion-skeleton-text animated width="10%"></ion-skeleton-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-app>
